/* Container Window */
window#osd {
    padding: 12px 20px;
    border-radius: 99px;
    background-color: #161616; /* Solid Black */
    border: none;              /* Removed border bloat */
}

/* The Background Track (Empty) */
trough {
    background-color: #262626; /* Subtle Dark Grey */
    border-radius: 99px;
    min-height: 8px;           /* Slightly thinner for efficiency */
}

/* The Volume Level (Fill) */
highlight, progress {
    background-color: #ee5396; /* Oxocarbon Pink */
    border-radius: 99px;
    box-shadow: none;          /* Removed neon glow */
}

/* Icons/Label */
label, image {
    color: #dde1e6; /* White text for readability */
}
