window#osd {
    padding: 12px 20px;
    border-radius: 99px;
    background-color: #161616;
    border: none;
}

trough {
    background-color: #262626;
    border-radius: 99px;
    min-height: 8px;
}

highlight,
progress {
    background-color: #ee5396;
    border-radius: 99px;
    box-shadow: none;
}

label,
image {
    color: #dde1e6;
}
